################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Oxygen/.vs/Oxygen/v16
/Oxygen/bin/Debug
/Oxygen/obj
/Oxygen/Oxygen.csproj.vspscc
/Oxygen/packages/Selenium.WebDriver.3.141.0
