################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/*.plog
/Oxygen/.vs/Oxygen/v16
/Oxygen/bin
/Oxygen/obj
/Oxygen/Oxygen.csproj.vspscc
/Oxygen/packages
/Oxygen/TestReults
**/UnitTests/bin
**/UnitTests/obj
**/.sonarqube